body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

input {
  font-size: 18pt;
}

.string:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.fret-tune {
  float: left;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  line-height: 34px;
  height: 34px;
  width: 34px;
}
.fret {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  height: 34px;
  width: 68px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.chordinator-app {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
